<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
    <!--added 11162018 for alpha-->
    <!--connection string below points to the CLUSTER hangfire URL-->
    <add xdt:Transform="Insert" name="ProductionHangfireConnection" connectionString="dlp-hangfire-001.dlp-hangfire.3deqi9.use2.cache.amazonaws.com:6379,ssl=True,abortConnect=False"/>
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Insert" key="IsAwsConfig" value="True"/>

    <!--<add xdt:Transform="Insert" key="Asana_ClientId" value="" />
    <add xdt:Transform="Insert" key="Asana_ClientSecret" value="" />-->

    <!--added 03 29 2019-->
    <!--<add xdt:Transform="Insert" key="agilecrm_domain" value="" />
    <add xdt:Transform="Insert" key="agilecrm_email" value="email@email.com" />
    <add xdt:Transform="Insert" key="agilecrm_crmkey" value="" />
    <add xdt:Transform="Insert" key="agilecrm_forcerun" value="true" />-->
    <!--added 03 29 2019-->

    <!--<add xdt:Transform="Insert" key="Scheduler_SecretKey" value=""/>-->

    <!--<add xdt:Transform="Insert" key="TrelloKey" value=""/>
    <add xdt:Transform="Insert" key="TrelloSecret" value=""/>
    <add xdt:Transform="Insert" key="BasecampUrl" value=""/>
    <add xdt:Transform="Insert" key="BasecampKey" value=""/>
    <add xdt:Transform="Insert" key="BasecampSecret" value=""/>
    <add xdt:Transform="Insert" key="BasecampApp" value=""/>
    <add xdt:Transform="Insert" key="BasecampTestKey" value=""/>
    <add xdt:Transform="Insert" key="BasecampTestSecret" value=""/>
    <add xdt:Transform="Insert" key="BasecampTestApp" value=""/>-->

    <!--<add xdt:Transform="Insert" key="PaymentSpring_PublicKey" value="live_"/>
    <add xdt:Transform="Insert" key="PaymentSpring_PrivateKey" value="live_"/>-->

    <add xdt:Transform="Insert" key="RedisSignalR_Password" value=""/>
    <add xdt:Transform="Insert" key="RedisSignalR_Server" value="dlp-signalr-001.3deqi9.0001.use2.cache.amazonaws.com"/>
    <add xdt:Transform="Insert" key="RedisSignalR_DevServer" value="dlp-signalr-001.3deqi9.0001.use2.cache.amazonaws.com"/>
    <add xdt:Transform="Insert" key="RedisSignalR_Port" value="6379"/>

    <!--<add xdt:Transform="Insert" key="ActiveCampaign_BaseUrl" value=""/>
    <add xdt:Transform="Insert" key="ActiveCampaign_EventUrl" value=""/>
    <add xdt:Transform="Insert" key="ActiveCampaign_ForceRun" value="true"/>
    <add xdt:Transform="Insert" key="ActiveCampaign_ApiKey" value=""/>
    <add xdt:Transform="Insert" key="ActiveCampaign_ActId" value=""/>
    <add xdt:Transform="Insert" key="ActiveCampaign_TrackKey" value=""/>-->

    <add xdt:Transform="Insert" key="ida:AppID" value=""/>
    <add xdt:Transform="Insert" key="ida:AppPassword" value=""/>
    <add xdt:Transform="Insert" key="ida:AppScopes" value=""/>

    <!--<add xdt:Transform="Insert" key="TwilioSid" value=""/>
    <add xdt:Transform="Insert" key="TwilioToken" value=""/>-->

    <!--<add xdt:Transform="Insert" key="NewRelic_license_key" value=""/>
    <add xdt:Transform="Insert" key="NewRelic.AppName" value="" />-->

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
