<?xml version="1.0" encoding="utf-8"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="Replace" name="DefaultConnectionLocalMysql" connectionString="Server=localhost; Port=3306; Database=elite; Uid=root; Pwd=Dr3@ML9v*;persistsecurityinfo=True;" providerName="System.Data.SqlClient"/>
    <add xdt:Transform="Insert"  name="LocalHangfireConnection" connectionString="127.0.0.1"/>
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="dbVersion" value="11"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SignalrEndpointPattern" value="/signalr"/>
    <add xdt:Transform="Insert" xdt:Locator="Match(key)" key="UploadLocalFiles" value="true"/>
    <add xdt:Transform="Insert" xdt:Locator="Match(key)" key="SignalrDisconnectTimeout" value="6"/>
  </appSettings>
</configuration>

